/* 
   Glossy Dark theme written by Maxvel (https://maxvel.sh) modified on top of  
   Fosstodon Hub theme written by Kev Quirk (https://kevq.uk) 
   and released under the GPL v3 license (https://www.gnu.org/licenses/gpl-3.0.en.html). 
   
   Original Fosstodon Hub theme can be found here (https://write.as/themes/fosstodon-hub)
*/

/* Create colour variables to be used throughout the theme (makes colours easier to change globally). */
:root {
    --main: #2b90d9;
    --light: #9baec8;
    --lighter: #d9e1e8;
    --dark: #1f232b;
    --accent: #282c37;
    --secondary-accent: #71d571;
}


/* ----------BODY ITEMS---------- */
body {
    background-color: var(--dark);
    color: var(--light);
}

body h1 a, body header h2 a {
    color: var(--lighter);
    font-family: fantasy;
    font-size: 1.23em;
}

body h1 a:hover, body header h2 a:hover {
    color: var(--secondary-accent);
}

body#post article h2, body#post article h3, body#post article h4, body#post article h5 {
    color: var(--lighter);
}
body footer nav {
    color: var(--light);
}

body #post footer nav a, body#collection footer nav a, body#post footer nav a, body#subpage footer nav a {
    margin-top: 0;
    color: var(--lighter);
}

body #post code, body#collection code, body#post code, body#subpage code {
    background-color: var(--light);
    border: 1px solid var(--light);
    color: var(--dark);
    padding: .2em .4em;
    font-size: .86em;
    -webkit-border-radius: .25em;
    -moz-border-radius: .25em;
    border-radius: .25em;
}

body#collection a.read-more, body#subpage a.read-more {
    color: var(--lighter);
}

body#collection header nav {
    margin: 0;
    padding-bottom: 1em;
}

body#collection header {
    margin: 3em auto 0em;
}
/* ----------END BODY ITEMS---------- */

/* ----------NAVIGATION & LINKS---------- */
a {
    color: var(--main);
}

a.user.hidden.pin.action, a.user.hidden.delete.action, a.user.hidden.action {
    color: var(--light);
}

header nav a {
    color: var(--lighter);
    font-family: monospace;
    font-size: 1.1em;
    padding: 0.5em;
    text-transform: lowercase;
    border-bottom: 2px solid var(--accent);
}

header nav a:hover {
    background: #71d571;
    color: var(--dark);
    font-weight: bold;
    text-decoration: none;
}

a.btn.cta, a.btn.submit, a.btn[type="submit"], button.cta, button.submit, button[type="submit"], input.cta, input.submit, input[type="submit"], select.inputform.cta, select.inputform.submit, select.inputform[type="submit"], textarea.inputform.cta, textarea.inputform.submit, textarea.inputform[type="submit"] {
    border: 1px solid var(--light);
    background: var(--light);
    color: var(--dark);
}

a.btn.cta:hover, a.btn.submit:hover, a.btn[type="submit"]:hover, button.cta:hover, button.submit:hover, button[type="submit"]:hover, input.cta:hover, input.submit:hover, input[type="submit"]:hover, select.inputform.cta:hover, select.inputform.submit:hover, select.inputform[type="submit"]:hover, textarea.inputform.cta:hover, textarea.inputform.submit:hover, textarea.inputform[type="submit"]:hover {
    border: 1px solid var(--lighter);
    background-color: var(--lighter);
    text-decoration: none;
}

.post-title a:link, .post-title a:visited {
    color: var(--lighter);
}

#post nav a:not(.home), header nav a {
    color: var(--light);
}

nav#manage ul a {
    display: block;
    color: var(--lighter);
    background-color: var(--accent);
    padding: 0 .5em;
    margin: 0;
}

nav#manage ul a:hover {
    color: var(--light);
}

nav#manage ul ul {
    background: var(--accent);
}

body #post footer nav a, body#collection footer nav a, body#post footer nav a, body#subpage footer nav a {
    padding: 0;
}

/* ----------END NAVIGATION & LINKS---------- */


/* ----------HEADERS---------- */

#official-writing h2, #official-writing h3, #official-writing h4, #wrapper h2, #wrapper h3, #wrapper h4 {
    color: var(--lighter);
}

header p.description {
    color: var(--light);
    font-size: 1.2em;
    margin-top: 0;
    font-family: monospace;
}
/* ----------END HEADERS---------- */

/* ----------TABLES---------- */
th {
    background: var(--main);
    color: var(--dark);
    padding-left: 10px;
    padding-right: 10px;
}
td {
    border: solid 1px var(--accent);
    padding-left: 10px;
    padding-right: 10px;
}
/* ----------END TABLES---------- */

/* ----------EMAIL SUB----------- */
#emailsub input[type="email"] {
    width:46%;
    background: var(--accent);
    color: var(--lighter);
}

#emailsub form {
    padding-top: 4.4em;
}

#emailsub form input {
    color: var(--lighter);
    padding: 0.6em 1em;
    border: 1px solid var(--dark);
}

#emailsub p {
    font-family: monospace;
    font-size: 1em;
    font-weight: bold;
}

#subscribe-btn {
    background: var(--secondary-accent);
}

#subscribe-btn:hover {
    background: black;
    border: 1px solid var(--secondary-accent);
    cursor: pointer;
    color: var(--secondary-accent);
}

/* ----------HOME SCREEN------------- */
body#collection #wrapper h2+time, body#subpage #wrapper h2+time {
    font-family: monospace;
    font-weight: bold;
    color: #71d571;
}

body#collection a.read-more, body#subpage a.read-more {
    font-size: 0.8em;
}

body#collection #wrapper article, body#subpage #wrapper article {
    margin-bottom: 2em;
}

#wrapper {
    max-width: 60em;
}

a.hashtag {
    padding: 0.2em 0.5em;
    border-radius: 6px;
    background-color: var(--secondary-accent);
    color: var(--accent);
    font-weight: bold;
    font-style: italic;
    font-size: 0.8em;
    margin: 0.3em 0.5em;
    display: inline-block;
}

/* ----------POST SCREEN------------- */
#post article.norm, .font.norm, body#collection article.norm, body#subpage article.norm, input#title.norm, pre.norm, span.norm, textarea.norm {
    font-size: 1.07em;
    padding-top: 2em;
}

body#post header h1, body#subpage header h1 {
    font-size: 1.2em;
}

body #post header nav a.pinned.selected, body #post header nav span.pinned.selected, body#post header nav a.pinned.selected, body#post header nav span.pinned.selected {
    display: none;
}

#post nav a:not(.home):hover, header nav a:hover {
    text-decoration: none;
    color: var(--dark);
}

body#post article time.dt-published, body#subpage article time.dt-published {
    color: #71d571;
    margin-bottom: 1em;
    font-family: monospace;
    font-weight: bold;
}

body#post article h2#title.dated, body#subpage article h2#title.dated {
    font-size: 2.5em;
}

#post .alert, #post article, body#collection article, body#subpage #wrapper h1, body#subpage article, pre {
    max-width: 60rem;
}

/* --------- SUBPAGE -------------- */

body#subpage #wrapper h1 {
    font-size: 2.5em;
    letter-spacing: 0;
    padding: 2rem;
    font-family: monospace;
    text-decoration: underline;
}

/* --------- CODE BLOCK ----------- */
body #post pre, body#post pre {
    background: var(--accent);
}

body #post pre code, body#collection pre code, body#post pre code, body#subpage pre code {
    color: white;
}

/* --------- FOOTER --------------- */
body footer nav {
    font-size: 0.8em;
    letter-spacing: 0;
    font-family: 'Lora';
}

#customFooter {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  line-height: 2em;
}

#customFooter .disclaimer {
  font-family: monospace;
  font-size: 1.26em;
  line-height: 1.6em;
}

#customFooter .icon {
  height: 40px;
  margin: 0 0.4em 2em 0.4em;
}

#wrapper #emailsub {
    display: none;
}

/* --------- MEDIA QUERY ---------- */
/* Mobile Phones */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    
   #post header nav a {
       display: none;
   }
    
   body#subpage #wrapper h1 {
        font-size: 1.5em;
   }

   body#subpage header nav a {
       display: none;
   }

}